:root {
  --color-primary: #c271ff;
  --color-primary-light: #CB8BF9;
  --color-dark: #081629;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button:hover,
button:active {
  opacity: 0.9;
}

.section-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-title {
  padding-bottom: 3rem;
}

.hero-homepage {
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-pricing {
  background-image: url(./images/pic_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-courses {
  background-image: url(./images/pic_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.color-primary {
  color: var(--color-primary);
}

.bgd-primary {
  background-color: var(--color-primary);
  border: none;
}

.bgd-primary-light {
  background-color: var(--color-primary-light);
  border: none;
}

.bgd-dark {
  background-color: var(--color-dark);
  border: none;
}

.bgd-transparent {
  opacity: 0.4;
}

.profile-img {
  width: 9rem;
}
