:root {
  --color-primary: #c271ff;
  --color-dark: #081629;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button:hover,
button:active {
  opacity: 0.9;
}

.section-body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-title {
  padding-bottom: 3rem;
}

.hero-homepage {
  background-image: url(./images/pic_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.color-primary {
  color: var(--color-primary);
}

.bgd-primary {
  background-color: var(--color-primary);
  border: none;
}

.bgd-dark {
  background-color: var(--color-dark);
  border: none;
}

.profile-img {
  width: 9rem;
}
